/* Up to now we have used selectors to select based on element, attribute, class or identifier. In this exercise we will learn how to select html elements based on the elements furtehr up in the hierarchy.
 * To understand this we need to use some terms to describe the relationships between the elements. 
	 * Parent ~ The element directly above the element. Each element has one and only one parent element. 
	 * Descendant ~ Any element that is inside another element no matter how nested this is. 
	 * Child ~ An element directly underneath its parent. 
	 * Sibling ~ An element at the same level. */

/* The General sibling combinator seperates two selectors and matches all selectors of the second element that follow the first
 * Unlike the ASC, the second doesn't need to immediately succeed the first
 * The following code will colour the paragraph following the top-level heading */
h1 ~ p {
  color: green ;
}

/* The follow code will colour paragraphs that are siblings of and subsequent to any image */
img ~ p {
	color: red ;
}

/* The following code will colour any ordered list after the main heading in dark red */
h1 ~ ol ~ li {
	color: darkred ;
}