<!-- This is the initial website loaded when the server runs (in 'passingdataURL.js') 
 !-- Note: this webpage contains links to pages pseudo-matching the 'number/:id' route -->

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Home</title>
  <meta name="description" content="the home page">
  <meta name="author" content="John Doe">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <h1>Numbers</h1>
  <ul>
    <li><a href="/number/1">One</a></li>
    <li><a href="/number/2">Two</a></li>
    <li><a href="/number/3">Three</a></li>
    <li><a href="/number/4">Four</a></li>
    <li><a href="/number/5">Five</a></li>
  </ul>
</body>
</html>