<!-- The initial web page (initialWebsite.handlebars) will redirect to page of this format
 !-- Here we print the number variable to the screen given to us by the relevant route (passingdataURL.js) -->

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Home</title>
  <meta name="description" content="the home page">
  <meta name="author" content="John Doe">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <h1>Number: {{number}}</h1>
</body>
</html>
